/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLOR dùng chung */
:root {
    --text-primary: #707070;
    --text-secondary: #060606;
    --blue-1: #0D369F;
    --pink-1: #FF7B73;
    --white-1: #FFFF;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* banner css  */
.banner__about-us {
    background-image: url(./../../images/img_banner-aboutus.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: right -260px;
    background-size: cover;
}

.banner__about-us .banner__title {
    color: var(--white-1);
    position: relative;
    bottom: -70px;
}

.banner__about-us .banner__title h1 {
    font-size: 25px;
    font-weight: 700;
}

.banner__about-us .banner__title a {
    color: var(--text-primary);
}

.banner__about-us .banner__title i {
    font-size: 9px;
    color: var(--text-primary);
    margin: 0 7px;
}

.banner__about-us .banner__title span {
    color: var(--text-primary);
}


/* content */
.content .content__text h3 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
}

.content .content__video img {
    width: 100%;
}

/* studious__about */
.studious__about {
    background-color: #f8f9ff;
}

.studious__about .studious__top-item {
    background-color: var(--white-1);
    padding: 40px 30px;
    border-radius: 8px;
}

.studious__about .icon {
    display: inline-block;
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}

.studious__about .icon__smile {
    color: #0abf53;
    background: rgb(10 191 83 / 10%);
}

.studious__about .icon__graduation {
    color: #ffc947;
    background: rgb(255 201 73 / 22%);
}

.studious__about .icon__users {
    color: #ff4f81;
    background: rgb(255 79 129 / 15%);
}

.studious__about h3 {
    font-weight: 600;
    font-size: 24px;
}

/* mission */
.mission .mission__left h3 {
    font-size: 48px;
    font-weight: 600;
    line-height: 45px;

}

.mission .mission__left ul li {
    padding: 5px 0;
    color: var(--text-primary);
}

.mission .mission__left ul li i {
    color: var(--pink-1);
    margin-right: 5px;
}

.mission .mission__right img {
    border-radius: 8px;
}