/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* COLOR dùng chung */
:root {
    --text-primary: #707070;
    --text-secondary: #060606;
    --blue-1: #0D369F;
    --pink-1: #FF7B73;
    --white-1: #FFFF;
}

/* blog post  */
.blog {
    padding: 50px 0;
}

.blog .container {
    max-width: 1200px;
    padding: 50px 0;
}

main .bp_left {
    padding: 0 24px;
    margin-bottom: 30px;
    text-align: left;
}

.bp_left .bp_card .card {
    width: 100%;
    margin-bottom: 35px !important;
}
.bp_left {
    border-radius: 8px;
    overflow: hidden;
}

.card .card_body{
    padding: 24px;
}

.card_date {
    margin-bottom: 20px;
}

.card_body  .date_2 {
    list-style: none;
}

.card_body  .date_2 i {
    font-size: 13px;
    color: #ff6e65;
    margin-right: 5px;
    font-weight: 500;
}

.card_body  .date_layout a {
    text-decoration: none;
    font-weight: 600;
    color: #ff6e65;
}

.card .card_body h5 {
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    margin: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.card .card_body h5:hover {
    color: #ff6e65;
}

.bp_right {
    padding: 0 24px;
}

.bp_right .bp_sticky {
    top: 0;
    position: sticky;
}

.bp_right .input_search {
    margin-bottom: 40px;
}

.bp_right .input_search form{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 1.5rem;
    left: 0;
    right: 0;
    top: -170px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    z-index: 1000;
    background: #ffffff;
}

.bp_right .input_search input[type="search"] {
    height: 50px;
    border-radius: 10px 0 0 10px ;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
    outline:none;
    border-color: gray;
}

.bp_right .input_search input[type="search"]:focus {
    border-color: none;
}
.bp_right .input_search input[type="submit"] {
    background-color: #0d369f;
    border-radius: 0 10px 10px 0;
    color:white;
    padding: 12px;
    border: none;
    list-style: none;
    transition: 0.5s;
}

/* number page  */
.number_page .page-item:first-child .page-link {
    border: none;
    background-color: #ff6e65;
    color: white;
    border-radius: 50%;
    padding: 10px 18px;
    margin-right: 5px;
}

.number_page .page-item .page-link{
    color:black;
    font-weight: 600;
    border: none;
    background-color: white;
    border-radius: 50%;
    padding: 10px 18px;
    margin-right: 5px
}

.number_page .page-item .page-link:hover {
    background-color: #ff6e65;
    color:white;
}

/* post right  */
.box_right {
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.box_right h2 {
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}

.box_right ul{
    padding: 0;
}

.box_right li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 10px;
}

.box_right li a{
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.box_right li:hover a {
    color: #ff6e65;
    text-decoration: 1px underline #ff6e65;
}

.box_right li .rcmt {
    color: #ff6e65;
    font-weight: 700;
    font-size: 16px;
}
