* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --text-primary: #707070;
    --text-secondary: #060606;
    --blue-1: #0D369F;
    --pink-1: #FF7B73;
    --white-1: #FFFF;
}

/* location */
.location__left .detail__left i {
    color: var(--pink-1);
    font-size: 20px;
}

.location__left .detail__right h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.location__left .detail__right p {
    font-size: 16px;
    line-height: 28px;
    color: var(--text-primary);
    letter-spacing: .4px;
    text-decoration: none;
}

/* question form  */
.question__form .question__left img {
    border-radius: 8px;
}

.quest__input input {
    width: 100%;
    background: #f9f9f9;
    font-size: 15px;
    padding: 14px;
    border: 1px solid #eee;
    outline: none;
    margin-bottom: 1rem;
    border-radius: 3px;
}

.quest__message textarea {
    width: 100%;
    background: #f9f9f9;
    font-size: 15px;
    padding: 14px;
    border: 1px solid #eee;
    outline: none;
    margin-bottom: 1rem;
    border-radius: 3px;
}

.quest__message textarea:focus {
    border: 1px solid var(--pink-1);
}

.quest__input input:focus {
    border: 1px solid var(--pink-1);
}

.question__form button {
    color: var(--white-1);
    border-radius: 4px;
    background: var(--pink-1);
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    transition: all .25s ease-in-out;
}

.question__form button:hover {
    background: var(--blue-1);
}