@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url("./pages/home.css");
@import url("./pages/404page.css");
@import url('./pages/landing.css');

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* COLOR dùng chung */
:root {
    --text-primary: #707070;
    --text-secondary: #060606;
    --blue-1: #0D369F;
    --pink-1: #FF7B73;
    --white-1: #FFFF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 28px;
    font-size: 16px;
    letter-spacing: 0.4px;
    margin-bottom: 0;
    color: var(--text-primary);
}

.container__header {
    width: 100%;
    margin: auto;
    padding-top: 1rem;
}

/* section title */
.title__heading {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    max-width: 700px;

}

.title__heading h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    position: relative;
}

.title__heading span {
    color: var(--pink-1);
}

.title__heading h2::before,
.title__heading h2::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: var(--text-primary);

}

.title__heading h2::before {
    right: 0;
    left: -20px;
    bottom: -8px;
    margin: 0 auto;
}

.title__heading h2::after {
    right: 0;
    left: 20px;
    bottom: -15px;
    margin: 0 auto;

}


/* HEADER CSS */
header .header__top {
    background-color: var(--blue-1);
    height: 56px;
}

header .header__top ul {
    list-style: none;
    color: var(--white-1);
}

header .header__top li {
    display: inline;
    margin-right: 32px;
}

header .header__top li a {
    color: var(--white-1);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

header .header__top li a:hover {
    color: var(--pink-1);
}

header .header__bottom {
    top: 56px;
    z-index: 1;
    width: 100%;
    position: absolute;
}

header .header__bottom.--changeCss {
    position: fixed;
    top: 0;
}

header .header__bottom .navbar {
    padding: 19.2px 20px;
    background-color: var(--white-1) !important;
}

.me-auto {
    margin-right: 0 !important;
}

header .header__bottom .navbar .navbar-brand {
    color: var(--blue-1);
    font-size: 26px;
    font-weight: 600;
}

header .header__bottom .navbar-nav {
    padding: 0 12px;
}

header .header__bottom .navbar-nav .nav-item {
    padding: 0 12px;
}

header .header__bottom .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 0;
    color: var(--text-secondary);
}

.dropdown-item {
    transition: all 0.5s;
    font-weight: 600;
}

.dropdown-item.active {
    background-color: transparent;
}

.dropdown-item:hover {
    color: var(--pink-1);
    background-color: transparent;
}

header .header__bottom .navbar-nav .nav-item:hover .nav-link {
    color: var(--pink-1);
}

header .header__bottom .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

header .header__bottom .navbar-expand-lg .navbar-collapse .form-control {
    border-radius: 30px;
    padding: 10px 25px 10px 25px;
    width: 256px;
}

header .header__bottom .navbar .navbar-collapse button {
    border: none;
    right: 18px;
    top: 7px;
    color: var(--blue-1);
    font-weight: 600;
    background-color: transparent;
}

header .header__bottom .navbar .navbar-nav .active {
    color: var(--pink-1) !important;
}


/* BANNER CSS */
.banner {
    margin-bottom: 200px;
}

.banner .carousel-item {
    height: calc(100vh - 56px);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner .carousel-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.315);
}

.banner1 {
    background-image: url(./../images/img_banner1.jpg);
    background-position: right 96px;
}

.banner2 {
    background-image: url(./../images/img_banner2.jpg);
}

.banner .carousel-indicators {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2%;
    bottom: 100px;
}

.banner .carousel-indicators button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.banner .carousel-inner .carousel__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 600px;
    position: relative;
    text-align: left;
    top: 340px;
}

.banner .carousel-inner .carousel__text h1 {
    font-size: 70px;
    font-weight: bold;
    color: var(--white-1);
}

.banner .carousel-inner .carousel__text a {
    color: var(--text-secondary);
    padding: 14px 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--white-1);
    max-width: 180px;
    margin-top: 40px;
    transition: all 0.5s;
}

.banner .carousel-inner .carousel__text a:hover {
    color: var(--white-1);
    background-color: var(--pink-1);
}

.banner .carousel-inner .carousel__text a i {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
}


.banner .banner__item {
    display: flex;
    flex-direction: column;
    padding: 40px 25px;
    color: var(--white-1);
    border-radius: 8px;

}

.banner .box__color-1 {
    background-color: #037ef3;
}

.banner .box__color-2 {
    background-color: #ffc949;
}

.banner .box__color-3 {
    background-color: #ff4f81;
}

.banner .box__color-4 {
    background-color: #1ee697;
}

.banner .banner__item i {
    font-size: 45px;
}

.banner .banner__item a {
    color: var(--white-1);
    font-size: 24px;
    margin-top: 25px;
    font-weight: 600;
    transition: all 0.5s;
}

.banner .banner__item a:hover {
    color: var(--text-secondary);
}

.banner .text-center .row {
    top: -60px;
}


/* STUDIUOUS */
.studious i {
    font-size: 30px;
    color: var(--blue-1);
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgb(13 54 159 / 9%);
}

.studious .studious__top-text .row .studious__top-item h3 {
    color: var(--text-secondary);
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.studious .studious__top-text .row .studious__top-item h3:hover {
    color: var(--pink-1);
}

.studious .studious__bottom {
    background-image: url(./../images/img_studious.jpg);
    height: 528px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.studious .studious__bottom .studious__bottom-item {
    padding: 30px;
    background-color: var(--white-1);
    border-radius: 8px;
}

.studious .studious__bottom .studious__bottom-item .icon {
    margin-right: 16px;
}

.studious .studious__bottom .studious__bottom-item h3 {
    font-size: 20px;
    line-height: 30px;
    color: var(--text-secondary);
    font-weight: 600;
    margin-bottom: 6px;
}

/* NUMNER */
.number .number__content .number__item {
    border-right: 1px solid #eee;
}

.number .number__content .number__item h3 {
    font-size: 40px;
    font-weight: 600;
    color: var(--text-secondary);
    margin-bottom: 0;
}

/* FEEDBACK */
.feedback .feedback__content .feedback__item {
    background-color: var(--white-1);
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
}

.feedback .feedback__content .feedback__item i {
    font-size: 28px;
    color: var(--pink-1);
    line-height: 0.8px;
}

.feedback .feedback__content .feedback__item img {
    border-radius: 50%;
}

.feedback .feedback__content .feedback__item .feedback__item-name {
    margin-left: 15px;
}

.feedback .feedback__content .feedback__item .feedback__item-name p {
    font-size: 13px;
}

.feedback .feedback__content .feedback__item .feedback__item-name .name {
    font-size: 20px;
    font-weight: 600;
}


/* TEAM SECTION */
.team__card {
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 10px;
    border-radius: 8px;
}

.team__card .team__image {
    position: relative;
    overflow: hidden;

}

.team__card .team__image img {
    width: 100%;
    border-radius: 8px;
}

.team__image .team__info {
    background: rgb(8 8 8 / 29%);
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -250px;
    transition: all .5s;
}

/* TEAM SECTION */
.team__card {
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 10px;
    border-radius: 8px;
}

.team__card .team__image {
    position: relative;
    overflow: hidden;

}

.team__card .team__image img {
    width: 100%;
    border-radius: 8px;
}

.team__image .team__info {
    background: rgb(8 8 8 / 29%);
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -250px;
    transition: all .5s;
}

.team__card:hover .team__info {

    bottom: 0;
}

.team__image .team__info .info__icon a {
    display: inline-block;
    margin-right: 8px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: var(--blue-1);
    background: var(--white-1);
    border-radius: 50%;
}

.team__card .team__bottom {
    text-align: center;
    text-transform: capitalize;
}

.team__card .team__bottom h3 {
    font-size: 20px;
    font-weight: 600;
}

.team__card .team__bottom h3 a {
    text-decoration: none;
    color: #060606;
    transition: all .5s;

}

.team__card .team__bottom p {
    font-size: 13px;
    color: var(--text-primary);
}

.team__card:hover .team__bottom h3 a {
    color: var(--pink-1);
}

/* CONTACT SECTION */
.contact__info h3 {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

.contact__info p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-primary);
    letter-spacing: .4px;
}

.contact__info button {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 30px;
    border: transparent;
    border-radius: 5px;
    background: var(--pink-1);
    color: var(--white-1);
    text-transform: capitalize;
    transition: all .5s;
}

.contact__info button:hover {
    background: var(--blue-1);
}

/* footer */
footer {
    padding-top: 60px;
    margin-top: 60px;
    position: relative;
}

.footer__bg {
    background: #060e1f;
    padding: 80px 0;
}

.footer__bottom {
    margin-top: 120px;
}

.footer__bg .footer__bottom h4 {
    text-transform: uppercase;
    color: var(--white-1);
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
}

.footer__bg .footer__bottom ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__bg .footer__bottom ul a {
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #cecece;
    text-transform: capitalize;
}

.footer__bg .footer__bottom ul li {
    margin-bottom: 10px;
}

.footer__bg .footer__bottom ul i {
    font-size: 8px;
    color: white;
    margin-right: 10px;
}

/* footer contact column */
.footer__bg .contact ul i {
    font-size: 18px;
    color: white;
    margin-right: 10px;
}

.footer__bg .contact ul a {
    text-transform: none;
    font-size: 15px;
    line-height: 25px;
}

/* about column */
footer .about {
    border-left: 1px solid rgba(23, 54, 88, 0.4);
}

footer .about p {
    color: #cecece;
    font-size: 14px;
    line-height: 24px;
}

footer .about ul li {
    display: inline-block;
    margin-right: 5px;
}

footer .footer__bottom .about ul li a {
    color: var(--white-1);
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 50%;
    text-align: center;
    line-height: 35px !important;
}

footer .footer__bottom .about ul li a:hover {
    opacity: .8;
    transition: all .5s;
}

footer .about ul li a i {
    font-size: 15px !important;
    margin: 0 !important;
}

/* sub__box */
.sub__box {
    background: var(--white-1);
    padding: 50px;
    border-radius: 10px;
    max-width: 1000px;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.sub__box .left__box h3 {
    font-size: 35px;
    font-weight: 600;
    color: var(--text-secondary);

}

.sub__box .left__box p {
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--text-primary);
}

.sub__box .right__box input {
    padding: 15px 20px;
    font-size: 16px;
}

.form-control:focus {
    border-color: #91e6c4;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(46, 202, 139, 0.25);
}

.sub__box .right__box button {
    font-size: 16px;
    color: var(--white-1);
    background: var(--blue-1);
    font-weight: 600;
    padding: 15px 30px;
    border: none;
}

.sub__box .right__box button:hover {
    opacity: .9;
}

.sub__box .right__box .input-group .btn {
    z-index: inherit;
}

/* copyright */
.footer__copyright {
    background: #040A17;
    color: #a0a0a0;
    padding: 20px 0;
    line-height: 20px;
    font-size: 15px;
}

.footer__copyright p {
    margin: 0;
}

.footer__copyright a {
    text-decoration: none;
    color: var(--white-1);
}

.footer__copyright a:hover {
    text-decoration: underline;
}

@media screen and (max-width:576px) {
    .footer__bottom {
        margin-top: 240px;
    }
}

@media screen and (max-width:992px) {

    .footer__bg .footer__bottom h4 {
        margin-bottom: 10px;
        padding-bottom: 7px;
    }
}